.game-container {
  display: flex;
  flex-wrap: wrap;
}

.game-card {
  margin: 8px;
  width: 400px;
}

.game-image {
  image-rendering: pixelated;
  width: 100%;
  height: auto;
}

/*
fix problem with button icons getting cut off
https://github.com/google/material-design-icons/issues/679#issuecomment-1948304969
*/
.mat-icon {
  transform: rotate(0.03deg);
}